<!--  
Citation: https://www.encodedna.com/javascript/populate-json-data-to-html-table-using-javascript.htm
-->

<html>
  <head>
    <title>Platinum Wireless Tracking Dashboard</title>
  </head>
  <body>

    <p> Need to add javascript here to integrate app functionality! </p>

    <body>
		<h3>
	    	USPS limits the number of calls that can be made using a specific tracking number. After a number has 
	    	been called 35 times, the API will no longer return tracking info. Please populate using the database
	    	unless you need the latest tracking updates.
	    </h3>

	    <!-- Grab table info from the database -->
	    <input type='button' onclick='tableFromDatabase()' 
	    	value='Populate Table From Database' />

	    <br>

	    <!-- Grab table info from USPS API -->
	    <input type='button' onclick='tableFromUSPS()' 
	    	value='Populate Table From USPS API' />

	    <br> 

	    <!-- Search an individual tracking number -->
	    <button id="submitter" onclick='fetchViaTracking()'>Fetch Tracking Info</button>
	    <input type="text" id="userInputTracking" placeholder="Tracking #"></input>
	    
	        
	        
	   
	</body>

<!-- This is how an individual object would be called and return
	<script type="text/javascript">
    	var apiUrl = 'OwensUrlHere';
    	fetch(apiUrl).then(response => {
      		return response.json();
    	}).then(data => {
      		// Work with JSON data here
      		document.getElementById('number').innerHTML = data.trackingNumber;
      		document.getElementById('time').innerHTML = data.trackingTime;
      		document.getElementById('date').innerHTML = data.trackingDate;
      		document.getElementById('event').innerHTML = data.trackingEvent;
      		console.log(data);
    	}).catch(err => {
      		// Do something for an error here
      		document.getElementById('number').innerHTML = "Error";
      		document.getElementById('time').innerHTML = "Error";
      		document.getElementById('date').innerHTML = "Error";
      		document.getElementById('event').innerHTML = "Error";
      		console.log("Error with API call, returning 'Error' for all fields");
    	});
	</script>
-->
	

	    <table cellpadding="0" cellspacing="0" style="width:80%" id="trackingTable">
        <colgroup>
            <col class="FirstColumn">
        </colgroup>
        <thead>
            <tr>
                <th style="text-align:center" colspan="4">Most Recent Tracking Updates</th>
            </tr>
        </thead>
        <tbody class="secondHeader">
            <tr>
                <th>Tracking Number</th>
                <th>Time</th>
                <th>Date</th>
                <th>Event</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="text-align:center">123456357349256342756 (Sample)</td>
                <td style="text-align:center">12:37:08 (Sample)</td>
                <td style="text-align:center">12/02/2020 (Sample)</td>
                <td style="text-align:center">Out for Delivery (Sample)</td>
            </tr>
        <!--   This is how the insert would be done for an individual call
            <tr>
                <td style="text-align:center" id="number"></td>
                <td style="text-align:center" id="time"></td>
                <td style="text-align:center" id="date"></td>
                <td style="text-align:center" id="event"></td>
            </tr>
        -->
        </tbody>
    </table>

<script>

    function tableFromDatabase() {
		

        // Grab exisiting table element and the titles 
        var table = document.getElementById('trackingTable');
        var colNames = ["Tracking Number", "Time", "Date", "Event"];
        var apiUrl = 'http://localhost:5000/getInfoHomepage';

        // Delete all info in current table
        var rowCount = table.rows.length;
        for (var i = 3; i < rowCount; i++) {
    		table.deleteRow(-1);
		}

        // API Call
    	fetch(apiUrl).then(response => {
      		return response.json();

      	// Successful return
    	}).then(data => {
      	// Parse data and insert rows in the table 
        var info = JSON.parse(data);
        var col = [];
        for (var i = 0; i < info.length; i++) {
            for (var key in info[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }
        // Add json tracking data to the table as rows.
        table.deleteRow(-1);
        for (var i = 0; i < info.length; i++) {
            tr = table.insertRow(-1);
            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = info[i][col[j]];
                tabCell.style.textAlign = "center"; 
            }
        }
      	console.log(data);

      	// Catch error response and format JSON accordingly
    	}).catch(err => {
         var data = [{ "Tracking Number": "Error", "Time": "Error" ,"Date": "Error", "Event": "Error"}];
        var col = [];
        for (var i = 0; i < data.length; i++) {
            for (var key in data[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }
        // Add json tracking data to the table as rows.
        table.deleteRow(-1);
        for (var i = 0; i < data.length; i++) {
            tr = table.insertRow(-1);
            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = data[i][col[j]];
                tabCell.style.textAlign = "center"; 
            }
        }
      	// Log error, default value was already set to represent this.
      	console.log("Error with API call, returning 'Error' for all fields");
    	});

    }

    function tableFromUSPS() {

    	var table = document.getElementById('trackingTable');
    	var colNames = ["Tracking Number", "Time", "Date", "Event"];
		var apiUrl = 'http://localhost:5000/update';
		
		// API Call
    	fetch(apiUrl).then(response => {
      		return response.json();
    	}).then(data => {
    		// Successful return
      		console.log(data);
    	}).catch(err => {
	      	// Log error, default value was already set to represent this.
	      	console.log("Error with API call, returning 'Error' for all fields");
    	});

    	tableFromDatabase();

    }

    function fetchViaTracking() {
    	
    	var trackingNumber = document.getElementById("userInputTracking").value;
    	var apiUrl = 'http://localhost:5000/track';

    	// POST body data 
		var tNum = {
		    "number" : trackingNumber
		};

		// request options
		var json = {
		    method: 'POST',
		    data: JSON.stringify(tNum),
		    headers: {
		        'Content-Type': 'application/json'
		    }
		}

		fetch(apiUrl, json).then(response => {
      		return response.json();

      	// Successful return
    	}).then(data => {

      		console.log(data);
      	// Catch error response and format JSON accordingly
    	}).catch(err => {
	      	// Log error, default value was already set to represent this.
	      	console.log("Error with API call, returning 'Error' for all fields");
    	});

    	tableFromDatabase();

    }
</script>

  </body>
</html>














